/**
For general-purpose classes meant to override values, put them in a separate file and name them beginning with an underscore.
They are typically things that are tagged with !important. Use them very sparingly!
 */

._unmargin {
  margin: 0 !important;
}

._level {
  z-index: 1 !important;
}

// bring open tooltip to front
._level-front {
  z-index: 2 !important;
}
