/**
Mixins allow you to define styles that can be re-used throughout your stylesheet.
They make it easy to avoid using non-semantic classes like .float-left, and to distribute collections of styles in libraries.
 */

// font mixins

@mixin font-default {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: initial;
  font-style: normal;
}

@mixin text-xs {
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

@mixin text-sm {
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}

@mixin text-md {
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}

@mixin text-lg {
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

@mixin text-xl {
  font-size: 6rem;
  font-style: normal;
  line-height: 1.15;
}

@mixin text-xxl {
  font-size: 12.5rem;
  font-style: normal;
  line-height: 1;
}

@mixin text-vote-button {
  @include font-default;

  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}

@mixin text-thin {
  font-weight: 100;
}

@mixin text-light {
  font-weight: 300;
}

@mixin text-regular {
  font-weight: 400;
}

@mixin text-medium {
  font-weight: 500;
}

@mixin text-semibold {
  font-weight: 600;
}

// ui mixins
@mixin default-ui {
  @include border-md;

  position: relative;
  width: 100%;
  height: 100%;
  // background-color: var(--color-accent-main);
  background: linear-gradient(129deg, #f8ffe8 25.5%, #dcf2a9 63.66%),
    linear-gradient(112deg, #e2f3ff 23.65%, #9cd4ff 86.89%);
}

// border mixins
@mixin border-md {
  border-radius: var(--border-radius-md);
}

@mixin border-lg {
  border-radius: var(--border-radius-lg);
}

// buttons
@mixin button-default {
  @include border-lg;
  @include text-vote-button;

  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem 1rem;
  // padding-block: 0.6rem;

  background-color: white;

  &:hover {
    background-color: var(--color-grey-light);
  }

  &.-arrow-r::before,
  &.-arrow-l::before {
    content: '';
    display: inline-block;
    background-image: url('/icons/arrow.svg');
    background-size: 2.5rem 2.5rem;
    background-position: center;
    height: 1rem;
    width: 2.5rem;
    margin-right: 6px;
  }

  &.-arrow-l::before {
    transform: rotate(180deg);
  }
}
