/**
Mixins allow you to define styles that can be re-used throughout your stylesheet.
They make it easy to avoid using non-semantic classes like .float-left, and to distribute collections of styles in libraries.
 */

// font mixins

@mixin font-default {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin text-sm {
  color: white;
}

@mixin text-md {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin text-lg {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin text-xl {
  font-size: 6rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

@mixin text-xxl {
  font-size: 12.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

@mixin text-vote-button {
  @include font-default;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// border mixins
@mixin border-md {
  border-radius: var(--border-radius-md);
}

@mixin border-lg {
  border-radius: var(--border-radius-lg);
}

// buttons
@mixin button-default {
  @include border-lg;
  @include text-vote-button;

  cursor: pointer;
  padding: 0.6rem 1rem;
  // padding-block: 0.6rem;

  background-color: white;

  &:hover {
    background-color: #eeeeee;
  }

  &.-arrow-r::before,
  &.-arrow-l::before {
    content: '';
    display: inline-block;
    background-image: url('/icons/arrow.svg');
    background-size: 2.5rem 2.5rem;
    background-position: center;
    height: 1rem;
    width: 2.5rem;
    margin-right: 6px;
  }

  &.-arrow-l::before {
    transform: rotate(180deg);
  }
}
