:root {
  --color-text-main: black;
  --color-main-bg: #ffffff;
  --color-bg-light: white;
  --color-accent-main: #d3e99f;
  --color-anti-flash-white: #eeeeee;
  --color-grey-light: #d9d9d9;
  --color-grey-dark: #8d8d8d;

  --border-radius-md: 1.5rem;
  --border-radius-lg: 3.6rem;
}
