:root {
  --color-text-main: black;
  --color-main-bg: #ffffff;
  --color-bg-light: white;
  --color-accent-main: #d3e99f;
  --color-anti-flash-white: #eeeeee;
  --color-anti-flash-red: rgba(215, 179, 179, 0.56);
  --color-grey-light: #d9d9d9;
  --color-grey-dark: #8d8d8d;
  --color-blue-main: #0d6aef;

  --border-radius-md: 1.5rem;
  --border-radius-lg: 3.6rem;
}
